table{
    border-style: solid;
    border-color: aqua;
    border-width: 20px;
    width: 300px;
}

th{
    border-style: solid;
    border-color: blue;
    border-width: 10px;
}

td{
    border-style: solid;
    border-color: brown;
    border-width: 15px;
}