body{
    text-align: left;
    background-color: yellowgreen;
}

h1{
    text-align: center;
    color: whitesmoke;
}

h2{
    color: whitesmoke;
}

a{
    color: red;
    text-decoration: none;
}